{% extends "base.html" %}
{% block content %}

    <div class="col-md-offset-3 col-md-6">
    {% if latest_question_list %}
    <ul class="list-group">
    {% for question in latest_question_list.question %}
        <li class="list-group-item"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
	</div>
	<div class="col-md-offset-3 col-md-6">
    {% if latest_question_list %}
    dddddddddddddddddddddddddddddddddddd
    {% for content in latest_question_list.content %}
		{{ content|safe }}
	ssssssssssssssssssssssssssssssssssssss
	{% endfor %}
	{% endif %}
	</div>
{% endblock %}
{% if latest_question_list %}
{% block video %}
	{% for video in latest_question_list.video %}
		<video width="720" height="405" controls>
		<source src="{{ video.upload.url }}" >
		Your browser does not support the video tag or the file format of this video. <a href="http://www.supportduweb.com/">http://www.supportduweb.com/</a>
		</video>
	{% endfor %}
{% endblock %}
{% endif %}
{% block footer %}
<!-- {{ latest_question_list.contact_form }} -->
	{% for form in latest_question_list.contact_form %}
		{{ form|safe }}
	{% endfor %}
{% endblock %}